<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vito.cornelius.feature.home">

    <application>

        <activity
            android:name="com.vito.cornelius.feature.home.HomeActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="feature.home.HomeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>


</manifest>